venv
.mypy_cache
.vscode
config
dados_sql_server
dags
docs
grafana_data
influxdb_data
influxdb2-config
logs
plugins
rep_pentaho
scripts
.gitignore
docker-compose.txt
insert_script.sql
particao_arquivo.py
reset_docker.sh
shapes.txt
teste.py
teste.sh